

.inicio {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../imagenes/inicio/Inicio-pantalla.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.inicio .contenido {
  max-width: 50rem;
  padding: 0 2rem;
  animation: fadeSlide 1.5s ease-out;

}

.inicio .contenido h3 {
  font-size: 6rem;
  color: var(--text);
  animation: fadeSlide 1.2s ease-out 0.3s both;
}

.inicio .contenido span {
  font-size: 3.5rem;
  color: var(--primary);
  padding: 1rem 0;
  line-height: 1.5;
}

.inicio .contenido p {
  font-size: 1.5rem;
  color: var(--muted);
  padding: 1rem 0;
  line-height: 1.5;
  text-align: justify;
}

.banner-descuento {
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../imagenes/inicio/banner-mama.png) no-repeat center/cover;
  padding: 6rem 2rem;
  text-align: center;
  margin: 4rem 0;
  border-radius: 2rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease-in-out;
}

.contenido-banner h2 {
  font-size: 4.2rem;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.contenido-banner p {
  font-size: 2rem;
  color: var(--text-light);
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.contenido-banner .boton {
  background-color: var(--main-color);
  color: var(--white);
  padding: 1.2rem 3.5rem;
  font-size: 1.6rem;
  border-radius: 2rem;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: bounce 2s infinite ease-in-out;
}

.contenido-banner .boton:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}
