/* Estilos para el dise침o en tabletas */

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  .inicio {
    background: url(../imagenes/inicio/inicio-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .inicio .contenido h3 {
    font-size: 5rem;
  }

  .inicio .contenido span {
    font-size: 3rem;
  }
}

/* Estilos para m칩viles grandes*/
@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  header .encabezado {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--secondary);
    border-top: 1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #menu-bar:checked ~ .encabezado {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .encabezado a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: var(--background);
    border: 1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .inicio .contenido h3 {
    font-size: 4rem;
  }

  .inicio .contenido span {
    font-size: 2.5rem;
  }
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
  .contenido-banner h2 {
    font-size: 3rem;
  }

  .contenido-banner p {
    font-size: 1.6rem;
  }

  .contenido-banner .boton {
    font-size: 1.4rem;
    padding: 0.8rem 2.5rem;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
  .historia-contenedor {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Estilos para el dise침o de moviles peque침os*/
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .inicio {
    background: url(../imagenes/inicio/inicio-movil.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .inicio .contenido h3 {
    font-size: 3.5rem;
  }

  .inicio .contenido span {
    font-size: 2rem;
  }

  .inicio .contenido p {
    font-size: 1.3rem;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 900px) {
  .historia {
    flex-direction: column;
  }

  .bloques {
    flex-direction: column;
    align-items: center;
  }

  .bloque {
    width: 100%;
  }
}